body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.App header {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

.App a {
  color: #248cbd;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
}

.App-footer {
  margin: 30px 0;
}
